/*titulo de la página*/
h1 { font: bold 1.5em garamond; text-align: center; }
/*visor o pantalla*/
#visor { position: absolute; left: 300px; top: 100px; width: 400px; height: 300px;
			 background-color:rgb(159, 84, 194); overflow: hidden;  }
#visor img { width: 400px; }
/*foto saliente y foto entrante*/
#fotoSale { position: absolute; top: 0px; left: 0px; }
#fotoEntra { position: absolute; top: 0px; left: 0px; }
/*Elementos al pie de foto*/
#piefoto { position: absolute; left: 300px; top: 400px; width: 400px; height: 30px;
			 background-color: silver; }
/*controles de cambio de imagen*/
#controlesre { position: absolute; top: 0px; left: 0px; }
#controlesav { position: absolute; top: 0px; right: 0px; }
#controlesre img, #controlesav img { cursor: pointer }
/*texto de pie de foto*/
#mititulo { position: absolute; top: 5px; left: 70px; font: normal 12px arial; }